/* fonts */
@font-face {
    font-family: IGS;
    src: url('/fonts/igs.woff');
}
/* main things */
body {
    font-family: IGS;
    background-color: #9a9996;
	color: black;
}
h1, h2, h3, h4 { font-family: IGS, Times, serif; color: black; }
a { color: blue; text-decoration: none; }
a:hover { text-decoration: underline;}
dd { margin-left: 20px; }
dd:before { content: "- "; }
hr { border: 1px solid black; }

/* header */
.header {
    width: 600px;
    height: 70px;
    padding: 3px;
    border-bottom: none;
    background-image: url('/images/95.png');
}

/* themechooser */
.themechooser {
    padding: 2px;
    background-color: #808080;
    border: 3px ridge grey;
    width: 841px;
}
.themechooser button {
	font-family: IGS;
	border: none;
	color: blue;
	font-size: small;
	cursor: pointer;
	background-color: #808080;
}
.themechooser button:hover { text-decoration: underline; }

/* nav */
.nav {
	position: absolute;
	left: 620px;
	padding: 4px;
	border: 3px outset grey;
	border-left: none;
	background-color: #aaaaaa;
}

 /* article */
.article {
    width: 600px;
    padding: 3px;
    min-height: 500px;
    border: 3px outset grey;
    background-color: #aaaaaa;
}

/* footer */
.footer {
	width: 606px;
	display:flex;
	justify-content: center;
	background-color: #808080;
    border: 3px ridge grey;
}
