/* fonts */
@font-face {
    font-family: Speed;
    src: url('/fonts/Speed\ Rusher.ttf');
}
::selection {
  background-color: lightgreen;
  color: black;
}
/* main things */
body {
    font-family: monospace;
    background-color: black;
	color: #01aa18;
}
h1, h2, h3, h4 { font-family: Speed; color: #1ebc33; }
a { color: lime; text-decoration: none; }
a:hover { text-decoration: underline;}
dd { margin-left: 20px; }
dd:before { content: "- "; }
hr { border: 1px solid darkgrey; }

/* header */
.header {
    width: 600px;
    height: 70px;
    padding: 3px;
    border-bottom: none;
    background-image: url('/images/hacker.png');
}

/* themechooser */
.themechooser { padding-bottom: 2px; }
.themechooser button {
	font-family: monospace;
	border: none;
	color: #01aa18;
	font-size: small;
	cursor: pointer;
	background-color: black;
}
.themechooser button:hover { text-decoration: underline; }

/* nav */
.nav {
	position: absolute;
	left: 620px;
	padding: 4px;
	border: 3px double #01aa18;
	border-left: none;
}

 /* article */
.article {
    width: 600px;
    padding: 3px;
    min-height: 500px;
    border: 3px double #01aa18;
}

/* footer */
.footer {
	width: 600px;
	display:flex;
	justify-content: center;
}

