body p { font-family: "Arial"; }
body { background-color: black; color: white; padding: 20px; }
.test {
    padding: 10px;
    border: 4px double white;
    border-radius: 10px 10px 10px 10px;
    width: 400px;
}
button { padding: 7px; background-color: lightgrey; color: black; cursor: pointer; }